@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.page{
  background-color: #a6e5fd;  
  width: 100%;
  box-sizing: border-box;
}

.titleholder{
  top: 60px;
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.title,.welcome{
  font-size: 40px;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  -webkit-text-stroke: 1px #04bcbc;
  text-stroke: 1px #04bcbc;
} 

.welcome{
  margin-top: 70px;
  margin-bottom: 20px;
}

.topImage{
  width: -webkit-fill-available;
}
.endImage{
  margin-top: 8px;
  width: -webkit-fill-available;
}

.topholder{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
}
